  .panel-bottom {
    bottom: 0;

    &.panel-cover {
      z-index: 6001;

      &:after {
        right: 100%;
        background: linear-gradient(to top, var(--f7-panel-shadow));
      }
    }

  }

  .panel-resize-handler {

    .panel-bottom.panel-cover & {
      top: -3px;
      height: 6px;
      width: 100%;
      cursor: row-resize;
      z-index: 6001;
    }

  }

  .eb-layout-container-pc {

    --eb-layout-sidebar-tabs-width: 24px;
    --eb-layout-sidebar-toolbar-height: 24px;
    --f7-panel-bg-color: var(--f7-page-bg-color);

    .eb-layout-sidebar {
      position: absolute;
      z-index: 5900;

      .panel {
        height: 100%;
        display: block !important;
        max-width: none;

        &.panel-left {
          left: var(--eb-layout-sidebar-tabs-width);

          .panel-resize-handler {
            background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) 20%, rgba(0, 0, 0, 0.08) 40%, rgba(0, 0, 0, 0.08) 60%, rgba(0, 0, 0, 0.04) 80%, rgba(0, 0, 0, 0) 100%);
          }
        }

        &.panel-right {
          right: var(--eb-layout-sidebar-tabs-width);

          .panel-resize-handler {
            background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) 20%, rgba(0, 0, 0, 0.08) 40%, rgba(0, 0, 0, 0.08) 60%, rgba(0, 0, 0, 0.04) 80%, rgba(0, 0, 0, 0) 100%);
          }
        }

        &.panel-bottom {
          bottom: var(--eb-layout-sidebar-tabs-width);

          .panel-resize-handler {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) 20%, rgba(0, 0, 0, 0.08) 40%, rgba(0, 0, 0, 0.08) 60%, rgba(0, 0, 0, 0.04) 80%, rgba(0, 0, 0, 0) 100%);
          }
        }

        &.panel-left.panel-show,
        &.panel-right.panel-show,
        &.panel-bottom.panel-show {
          transform: translate3d(0, 0, 0) !important;
        }

        &.panel-left.panel-hide {
          transform: translate3d(-100%, 0, 0) !important;
        }

        &.panel-right.panel-hide {
          transform: translate3d(100%, 0, 0) !important;
        }

        &.panel-bottom.panel-hide {
          transform: translate3d(0, -100%, 0) !important;
        }

        .panel-toolbar.toolbar {
          position: absolute;
          height: var(--eb-layout-sidebar-toolbar-height);
          background: hsla(0, 0%, 100%, .12);

          .toolbar-inner {
            justify-content: flex-end;

            a.link {
              color: #C3D4E7;
            }
          }
        }

      }

      .eb-layout-sidebar-tabs {
        position: absolute;
        z-index: 6001;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: #343D46;

        a.link {
          color: #C3D4E7;

          &.active,
          &:hover {
            background: hsla(0, 0%, 100%, .12);
            opacity: 0.6;
          }

        }

      }

      .eb-layout-group.eb-layout-scene-panel {
        position: absolute;

        .eb-layout-panel-view {
          position: absolute;
        }

      }

    }

    .eb-layout-sidebar-left,
    .eb-layout-sidebar-right {
      .eb-layout-sidebar-tabs {
        height: 100%;
        width: var(--eb-layout-sidebar-tabs-width);
        flex-direction: column;

        a.link {
          writing-mode: vertical-lr;
          word-break: keep-all;
          padding: 10px 2px;

          &[data-dragdrop-drop] {
            border-top: 1px solid #C3D4E7;
          }
        }

      }
    }

    .eb-layout-sidebar-bottom {
      .eb-layout-sidebar-tabs {
        width: 100%;
        height: var(--eb-layout-sidebar-tabs-width);
        flex-direction: row;

        a.link {
          word-break: keep-all;
          padding: 2px 10px;

          &[data-dragdrop-drop] {
            border-right: 1px solid #C3D4E7;
          }
        }

      }
    }


    .eb-layout-sidebar-left {
      left: 0;

      .eb-layout-sidebar-tabs {
        left: 0;
      }
    }

    .eb-layout-sidebar-right {
      right: 0;

      .eb-layout-sidebar-tabs {
        right: 0;
      }
    }

    .eb-layout-sidebar-bottom {
      bottom: 0;

      .eb-layout-sidebar-tabs {
        bottom: 0;
      }
    }

  }
