.eb-layout-container-pc {

  --eb-layout-sidebar-tabs-width: 24px;
  --f7-panel-bg-color: transparent;

  .eb-layout-sidebar {
    position: absolute;
    z-index: 5900;

    .panel {
      height: 100%;
      display: block !important;

      &.panel-left {
        left: var(--eb-layout-sidebar-tabs-width);

        .panel-resize-handler {
          background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) 20%, rgba(0, 0, 0, 0.08) 40%, rgba(0, 0, 0, 0.08) 60%, rgba(0, 0, 0, 0.04) 80%, rgba(0, 0, 0, 0) 100%);
        }
      }

      &.panel-left.panel-show {
        transform: translate3d(0, 0, 0) !important;
      }

      &.panel-left.panel-hide {
        transform: translate3d(-100%, 0, 0) !important;
      }

    }

    .eb-layout-sidebar-tabs {
      position: absolute;
      z-index: 6001;
      height: 100%;
      width: var(--eb-layout-sidebar-tabs-width);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background: #343D46;

      a.link {
        writing-mode: vertical-lr;
        word-break: keep-all;
        color: #C3D4E7;
        padding: 10px 2px;

        &.active,
        &:hover {
          background: hsla(0, 0%, 100%, .12);
          opacity: 0.6;
        }
      }

    }

    .eb-layout-group.eb-layout-scene-panel {
      height: 100%;

      .eb-layout-panel-view {
        position: absolute;
      }
    }

  }

  .eb-layout-sidebar-left {
    .eb-layout-sidebar-tabs {
      left: 0;
    }
  }

}
