.dashboard-settings {
  position: fixed;
  bottom: 6px;
  right: 6px;

  &.link {
    color: var(--f7-grid-resize-handler-bg-color);
  }
}

.dashboard {

  [class*="col-"]>.resize-handler,
  .col>.resize-handler {
    left: auto;
    right: 0;
  }

  .widget {
    .widget-toolbar {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      transition-duration: 400ms;
      z-index: 200;

      a.link {
        color: var(--f7-grid-resize-handler-bg-color);

        .icon {
          font-size: 16px;
        }

        &+a.link {
          margin-left: 8px;
        }
      }

    }

    &:hover {
      .widget-toolbar {
        opacity: 1;
      }
    }

    &.eb-dragdrop-drop {
      background: hsla(0, 0%, 100%, .12);
    }
  }
}
