<% if(site.languages.length>1){ %>
<li class="nav-item dropdown">
  <a href="#" class="nav-link"><i class="fas fa-globe"></i></a>
  <ul class="navbar-nav">
    <% for(const item of site.languages){ %>
    <li class="nav-item"><a href="<%=item.url%>" class="nav-link"><%=text(item.title)%></a></li>
    <% } %>
  </ul>
</li>
<% } %>
