**/dist/**
*.min.js
*.min.*.js
*.min.css
*.min.*.css
miniprogram_npm
**/assets/lib/**
src/backend/app
src/backend/run
/.assets/**
/coverage/**
/docker-compose/**
**/backend/static/vendor/**
/src/module-system/a-codemirror/backend/static/lib/codemirror