node_modules
miniprogram_npm
/coverage
/dist
/docs-api

.idea
.DS_Store

*.log
*.logs
*.swp
*.tmp
*.rdb

package-lock.json

/docker-compose
!/docker-compose/config
!/docker-compose/data/mysql/.gitkeep
!/docker-compose/data/redis/.gitkeep
!/docker-compose/logs/app/.gitkeep
!/docker-compose/logs/nginx/.gitkeep
!/docker-compose/output/app/cabloy/.gitkeep
!/docker-compose/output/app/dist/.gitkeep

/src/backend/app
/src/backend/config
/src/backend/logs
/src/backend/run
/src/front/config

/src/suite/*
!/src/suite/.gitkeep

/src/suite-vendor/*
!/src/suite-vendor/.gitkeep

/src/module/*
!/src/module/.gitkeep

/src/module-vendor/test-note/backend/src
/src/module-vendor/test-note/backend/static
/src/module-vendor/test-note/build
/src/module-vendor/test-note/front
/src/module-vendor/test-note/.gitignore

/src/module-vendor/test-party/backend/src
/src/module-vendor/test-party/backend/static
/src/module-vendor/test-party/build
/src/module-vendor/test-party/front
/src/module-vendor/test-party/.gitignore

/src/module-vendor/test-flow/backend/src
/src/module-vendor/test-flow/backend/static
/src/module-vendor/test-flow/build
/src/module-vendor/test-flow/front
/src/module-vendor/test-flow/.gitignore

/src/module-vendor/a-flowtask/backend/src
/src/module-vendor/a-flowtask/backend/static
/src/module-vendor/a-flowtask/build
/src/module-vendor/a-flowtask/front
/src/module-vendor/a-flowtask/.gitignore

/src/module-vendor/a-markdown/backend/src
/src/module-vendor/a-markdown/backend/static
/src/module-vendor/a-markdown/build
/src/module-vendor/a-markdown/front
/src/module-vendor/a-markdown/.gitignore

/src/module-vendor/a-flownodebooster/backend
/src/module-vendor/a-flownodebooster/build
/src/module-vendor/a-flownodebooster/dist
/src/module-vendor/a-flownodebooster/front
/src/module-vendor/a-flownodebooster/.gitignore

# package-lock.json
# yarn.lock

.vscode/sftp.json
.sync-config.cson
sftp-config.json
sftp-config-.json
/.assets

/packages/build/lib/project/front/dist
/packages/egg-born-front/__runtime
