node_modules
/coverage
/dist

.vscode
.idea
.DS_Store

*.log
*.logs
*.swp
*.tmp
*.rdb

/src/backend/app
/src/backend/config
/src/backend/logs
/src/backend/run
/src/front/config

/src/module/*
!/src/module/test-party
!/src/module/test-partymonkey-monkey

# package-lock.json
# yarn.lock

.sync-config.cson
sftp-config.json
/.assets

/packages/egg-born-front/dist
/packages/egg-born-front/build/__runtime


/src/module-system/a-authsms/backend
/src/module-system/a-authsms/front
/src/module-system/a-authsms/build
