node_modules
miniprogram_npm
/coverage
/dist

.idea
.DS_Store

*.log
*.logs
*.swp
*.tmp
*.rdb

/docker-compose
!/docker-compose/config
!/docker-compose/data/mysql/.gitkeep
!/docker-compose/data/redis/.gitkeep
!/docker-compose/logs/app/.gitkeep
!/docker-compose/logs/nginx/.gitkeep
!/docker-compose/output/app/cabloy/.gitkeep
!/docker-compose/output/app/dist/.gitkeep

/src/backend/app
/src/backend/config
/src/backend/logs
/src/backend/run
/src/front/config

/src/module/*
!/src/module/test-note
!/src/module/test-party
!/src/module/test-partymonkey-monkey
!/src/module/test-flow
!/src/module/test-hostsimple-sync
!/src/module/test-localeone
!/src/module/test-localetwo
!/src/module/test-dingtalk
!/src/module/test-wechat
!/src/module/test-wxwork

# package-lock.json
# yarn.lock

.vscode/sftp.json
.sync-config.cson
sftp-config.json
sftp-config-.json
/.assets

/packages/build/lib/project/front/dist
/packages/egg-born-front/__runtime
