:root {

  .navbar {
    .eb-flowStatus.badge {
      margin: 0 16px;
    }
  }

  .eb-flow-timeline {

    .flowNode.timeline-item-content {
      background: var(--f7-list-group-title-bg-color);
      width: 100%;
      padding: 2px;
    }

    .flowRemark.badge {
      margin: 0 16px;
    }

    .flowTaskUser {
      display: flex;
      align-items: center;
    }
  }
}
