<div class="comments">
<a name="comments"></a>
<hr>
<div class="header">
  <h4 class="stat" data-article-id="<%=article.atomId%>">
  <span><%=text('Comments')%>:</span> <span class="num commentCount"></span>
  </h4>
  <div class="order">
    <%if(article.allowComment){%>
    <button class="btn btn-warning btn-sm button-postComment" type="button">
      <%=text('Post Comment')%>
    </button>
    <a href="#" class="asc hidden"><span class="glyphicon glyphicon-sort-by-attributes"></span></a>
    <a href="#" class="desc hidden"><span class="glyphicon glyphicon-sort-by-attributes-alt"></span></a>
    <%}else{%>
    <button class="btn btn-warning btn-sm" type="button" disabled="disabled">
      <%=text('Comment Disabled')%>
    </button>
    <%}%>
  </div>
</div>
<div class="list">
</div>
</div>
