<h1 class="title">
<%
  const sticky = !article.sticky ? '' : '<span class="glyphicon glyphicon-pushpin"></span> ';
  const attachment = article.attachmentCount===0 ? '' : '<span class="glyphicon glyphicon-paperclip"></span> ';
  echo(`${sticky}${attachment}${article.atomName}`);
%>
</h1>
<div class="title stat" data-article-id="<%=article.atomId%>">
<span class="num date"><%=util.formatDateTime(article.createdAt)%></span>
<span class="glyphicon glyphicon-eye-open"></span><span class="num readCount"></span>
<span class="glyphicon glyphicon-heart"></span><span class="num starCount"></span>
<a href="#comments"><span class="glyphicon glyphicon-comment"></span><span class="num commentCount"></span></a>
</div>
<hr>
