$(document).ready(function() {
  // query
  const query = util.parseUrlQuery();
  // title
  title(query);
  // menu active
  menuActive(query);
  // search text
  if (query.search) {
    $('form.search input').val(query.search);
  }
  // load more
  loadMore(query);
});

$(document).on('echo-ready', function() {
  // comments
  util.article.comments({ onParse: onParseComment });
  // recent comments
  recentComments();
});

function title(query) {
  if (env.site.path === 'static/category') {
    if (query.search !== undefined) {
      document.title = `<%=text('Search')%>:${query.search}-${env.base.title}`;
    } else {
      document.title = `${util.article.categoryName(query.categoryId)}-${env.base.title}`;
    }
  }
}

function menuActive(query) {
  const categoryId = query.categoryId || (env.article && env.article.categoryId);
  if (categoryId) {
    const link = $(`.category-${categoryId}`);
    link.parents('li').addClass('active');
  }
}

function loadMore(query) {
  if (env.site.path === 'main/index/index') {
    _loadMore({});
  } else if (env.site.path === 'static/category') {
    _loadMore({
      categoryId: query.categoryId,
      search: query.search });
  }
}

function _loadMore({ categoryId, search }) {
  util.loadMore({
    container: '.article-list',
    index: (env.index && env.index[env.site.path]) || 0,
    onFetch({ index }) {
      // options
      const options = {
        where: {
          'f.language': env.language.current,
        },
        orders: [
          [ 'f.sticky', 'desc' ],
          [ 'a.createdAt', 'desc' ],
        ],
        page: { index },
        mode: 'list',
      };
      // categoryId
      if (categoryId) {
        options.where['f.categoryId'] = categoryId;
        options.orders = [
          [ 'f.sticky', 'desc' ],
          [ 'f.sorting', 'asc' ],
          [ 'a.createdAt', 'desc' ],
        ];
      }
      // search
      if (search) {
        options.where['f.content'] = { val: search, op: 'like' };
        options.mode = 'search';
      }
      // select
      return util.ajax({
        url: '/a/cms/article/list',
        body: { options: JSON.stringify(options) },
      });
    },
    onParse(item) {
      const sticky = !item.sticky ? '' : '<span class="glyphicon glyphicon-pushpin"></span> ';
      const attachment = item.attachmentCount === 0 ? '' : '<span class="glyphicon glyphicon-paperclip"></span> ';
      const media = !item.imageFirst ? '' : `
<div class="media-right">
      <a target="_blank" href="${util.url(item.url)}">
        <img class="media-object" src="${util.combineImageUrl(item.imageFirst, 125, 100)}">
      </a>
</div>
        `;
      const stat = `
<div class="title stat no-parse" data-article-id="${item.atomId}">
<span class="num date">${util.formatDateTime(item.createdAt)}</span>
<span class="glyphicon glyphicon-eye-open"></span><span class="num readCount">${item.readCount}</span>
<span class="glyphicon glyphicon-heart"></span><span class="num starCount">${item.starCount}</span>
<a target="_blank" href="${util.url(item.url)}#comments"><span class="glyphicon glyphicon-comment"></span><span class="num commentCount">${item.commentCount}</span></a>
</div>
        `;
      return `
<li class="media">
    <div class="media-body">
      <h4 class="media-heading">${sticky}${attachment}<a target="_blank" href="${util.url(item.url)}">${item.atomName}</a></h4>
      ${item.description || item.summary}
      ${stat}
    </div>
    ${media}
</li>
        `;
    },
  });
}

function onParseComment(item) {
  const actionsEdit = item.userId !== util.article.user.op.id ? '' : `
      <a href="${util.article.commentUrl({ atomId: item.atomId, id: item.id, replyId: 0 })}" class="action" target="_blank"><span class="glyphicon glyphicon-pencil"></span></a>
      <a href="#" class="action delete"><span class="glyphicon glyphicon-trash"></span></a>
  `;
  const reply = !env.article.allowComment ? '' : `
    <a href="${util.article.commentUrl({ atomId: item.atomId, id: 0, replyId: item.id })}" class="action" target="_blank"><span class="glyphicon glyphicon-share-alt"></span></a>
  `;
  return `
<div class="comment panel panel-default" data-comment-id="${item.id}">
  <div class="header panel-heading">
    <div class="user">
      <img class="avatar avatar32" src="${util.combineImageUrl(item.avatar, 32, 32)}" />
      <h3 class="name panel-title">${item.userName}</h3>
      <div class="date">#${item.sorting} · ${util.time.formatDateTime(item.createdAt)}</div>
    </div>
    <div class="actions">
      ${actionsEdit}
      <a href="#" class="action heart">
        <span class="glyphicon glyphicon-heart heart-on ${item.heart ? '' : 'hidden'}"></span>
        <span class="glyphicon glyphicon-heart-empty heart-off ${item.heart ? 'hidden' : ''}"></span>
        <span class="num">${item.heartCount}</span>
      </a>
      ${reply}
    </div>
  </div>
  <div class="content panel-body">
    ${item.html}
  </div>
</div>
  `;
}

function onParseCommentRecent(item) {
  return `
<li class="media">
    <div class="media-body">
      <h4 class="media-heading"><a href="${util.url(item.url)}#comments">Re: ${item.atomName}</a></h4>
      <div class="body">${item.h_summary}</div>
      <div class="user">-- ${item.h_userName}</div>
    </div>
</li>
  `;
}

function recentComments() {
  // options
  const options = {
    orders: [
      [ 'h_updatedAt', 'desc' ],
    ],
    page: { index: 0, size: env.comment.recentNum },
  };
  // select
  util.ajax({
    url: '/a/cms/comment/all',
    body: { options: JSON.stringify(options) },
  }).then(data => {
    const $list=$('.panel-recentComments .list');
    for (let i = 0; i < data.list.length; i++) {
      $list.append($(onParseCommentRecent(data.list[i])));
    }
  });
}
