$(document).ready(function() {
  // query
  const query = util.parseUrlQuery();
  // title
  title(query);
  // menu active
  menuActive(query);
  // search text
  if (query.search) {
    $('form.search input').val(query.search);
  }
  // load more
  loadMore(query);
});

$(document).on('echo-ready', function() {
});

function title(query) {
  if (env.site.path === 'static/category') {
    if (query.search !== undefined) {
      document.title = `<%=text('Search')%>:${query.search}-${env.base.title}`;
    } else {
      document.title = `${util.article.categoryName(query.categoryId)}-${env.base.title}`;
    }
  }
}

function menuActive(query) {
  const categoryId = query.categoryId || (env.article && env.article.categoryId);
  if (categoryId) {
    const link = $(`.category-${categoryId}`);
    link.parents('li').addClass('active');
  }
}

function loadMore(query) {
  if (env.site.path === 'main/index/index') {
    _loadMore({});
  } else if (env.site.path === 'static/category') {
    _loadMore({
      categoryId: query.categoryId,
      search: query.search });
  }
}

function _loadMore({ categoryId, search }) {
  util.loadMore({
    container: '.article-list',
    index: (env.index && env.index[env.site.path]) || 0,
    onFetch({ index }) {
      // options
      const options = {
        where: {
          'f.language': env.language.current,
        },
        orders: [
          [ 'f.sticky', 'desc' ],
          [ 'a.createdAt', 'desc' ],
        ],
        page: { index },
        mode: 'list',
      };
      // categoryId
      if (categoryId) {
        options.where['f.categoryId'] = categoryId;
        options.orders = [
          [ 'f.sticky', 'desc' ],
          [ 'f.sorting', 'asc' ],
          [ 'a.createdAt', 'desc' ],
        ];
      }
      // search
      if (search) {
        options.where['f.content'] = { val: search, op: 'like' };
        options.mode = 'search';
      }
      // select
      return util.ajax({
        url: '/a/cms/article/list',
        body: { options: JSON.stringify(options) },
      });
    },
    onParse(item) {
      const sticky = !item.sticky ? '' : '<span class="glyphicon glyphicon-pushpin"></span> ';
      const attachment = item.attachmentCount === 0 ? '' : '<span class="glyphicon glyphicon-paperclip"></span> ';
      const media = !item.imageFirst ? '' : `
<div class="media-right">
      <a target="_blank" href="${util.url(item.url)}">
        <img class="media-object" src="${util.combineImageUrl(item.imageFirst, 125, 100)}">
      </a>
</div>
        `;
      const stat = `
<div class="title stat no-parse" data-article-id="${item.atomId}">
<span class="num date">${util.formatDateTime(item.createdAt)}</span>
<span class="glyphicon glyphicon-eye-open"></span><span class="num readCount">${item.readCount}</span>
<span class="glyphicon glyphicon-heart"></span><span class="num starCount">${item.starCount}</span>
<a target="_blank" href="${util.url(item.url)}#comments"><span class="glyphicon glyphicon-comment"></span><span class="num commentCount">${item.commentCount}</span></a>
</div>
        `;
      return `
<li class="media">
    <div class="media-body">
      <h4 class="media-heading">${sticky}${attachment}<a target="_blank" href="${util.url(item.url)}">${item.atomName}</a></h4>
      ${item.description || item.summary}
      ${stat}
    </div>
    ${media}
</li>
        `;
    },
  });
}

