
# dependencies
**/node_modules

.idea
.DS_Store

# misc
npm-debug.log*
yarn-error.log
yarn.lock
package-lock.json
*bak

# visual studio code
.vscode
.history
*.log
functions/*
.temp/**

.eslintcache
