.page.eb-page-empty {
  background-color: transparent;
}

.button-backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  z-index: 10500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-backdrop.not-animated {
  -webkit-transition-duration: 0ms;
  transition-duration: 0ms;
}

.button-backdrop.backdrop-in {
  visibility: visible;
  opacity: 1;
}

.button-backdrop .preloader-inner-left {
  margin-left: auto !important;
}

.item-panel-invalid {
  color: var(--f7-input-error-text-color);
}

.item-choose-invalid {
  color: var(--f7-input-error-text-color);
}

.swipeout-actions-left,
.swipeout-actions-right {
  z-index: 10;
}

.avatar {
  border-radius: 4px;
  border: 1px solid transparent;
}

.avatar24 {
  height: 24px;
  width: 24px;
}

.avatar32 {
  height: 32px;
  width: 32px;
}

.avatar48 {
  height: 48px;
  width: 48px;
}

.eb-loadmore {
  text-align: center;
  color: #8e8e93;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  height: 50px;

  .eb-preloader {
    margin-top: 0;
    top: 0;
  }
}

.json-textarea {
  border: 1px solid #C3D4E7;
  margin: 10px;
  padding: 6px;
  line-height: 1.5;
}

.eb-input-file-upload {
  position: absolute;
  right: 50px;
  bottom: 10px;
  font-size: 12px;
  background-color: #ebebeb;
  display: none;
}

.progressbar-container {
  margin-top: 20px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #bce8f1;
  border-radius: 4px;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #faebcc;
  border-radius: 4px;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ebccd1;
  border-radius: 4px;
}
