<%- await include('../../layout/header.ejs') %>
<div class="row">
  <div class="col-sm-8">
    <section>
      <%- await include('../../layout/breadcrumb.ejs') %>
      <ul class="article-list media-list">
        <%
          // options
          const options = {
            where: {
              'f.language': site.language.current,
            },
            orders: [
              [ 'f.sticky', 'desc' ],
              [ 'a.createdAt', 'desc' ],
            ],
            page: { index:0 },
            mode: 'list',
          };
          // select
          const data=await ctx.performAction({
            method:'post',
            url: '/a/cms/article/list',
            body: {
              atomClass: site.atomClass,
              options,
            },
          });
          // index
          env('index',{
            [_path]:data.index,
          });
          // list
          for(const item of data.list){
             const sticky = !item.sticky ? '' : '<i class="fas fa-thumbtack"></i> ';
             const audio = !item.audioFirst ? '' : '<i class="fas fa-music"></i> ';
             const attachment = item.attachmentCount===0 ? '' : '<i class="fas fa-paperclip"></i> ';
             const mediaUrl = item.imageFirst || item.audioCoverFirst;
             const media = !mediaUrl ? '' : `
<div class="media-right">
      <a target="_blank" href="${url(item.url)}">
        <img class="media-object img-delay" data-src="${util.escapeURL(mediaUrl)}" data-width="125" data-height="100">
      </a>
</div>
        `;
        // tags
        let tagsText='';
        const tags=item.tags?JSON.parse(item.tags):null;
        if(tags && tags.length>0){
          tagsText+='<i class="fas fa-tags"></i> ';
          for(const tag of tags){
            tagsText+=`<a target="_blank" href="${url('static/articles.html')}?tagId=${tag.id}&tagName=${encodeURIComponent(tag.name)}"><span class="num tag">${util.escapeHtml(tag.name)}</span></a>`;
          }
          tagsText+='';
        }
        // avatar
        const userAvatar = item.avatar || url('assets/images/user.png');
        // stat
        const stat=`
<div class="title stat" data-article-id="${item.atomId}">
<img class="avatar avatar16 img-delay" data-src="${util.escapeURL(userAvatar)}" data-width="16" data-height="16">
<span>${util.escapeHtml(item.userName)}</span>
<span class="num date">${util.formatDateTime(item.updatedAt)}</span>
<a target="_blank" href="${url('static/articles.html')}?categoryId=${item.categoryId}&categoryName=${encodeURIComponent(item.categoryName)}"><span class="num category">${util.escapeHtml(item.categoryName)}</span></a>
<i class="fas fa-eye-open"></i><span class="num readCount"></span>
<i class="fas fa-heart"></i><span class="num starCount"></span>
<a target="_blank" href="${url(item.url)}#comments"><i class="fas fa-comment"></i><span class="num commentCount"></span></a>
${tagsText}
</div>
        `;

        const html= `
<li class="media">
    <div class="media-body">
      <h4 class="media-heading">${sticky}${audio}${attachment}<a target="_blank" href="${url(item.url)}">${util.escapeHtml(item.atomName)}</a></h4>
      ${util.escapeHtml(item.description) || item.summary}
      ${stat}
    </div>
    ${media}
</li>
        `;
          echo(html);
          }
        %>
      </ul>
    </section>
  </div>
  <div class="col-sm-4">
    <%- await include('../../layout/sidebar.ejs') %>
  </div>
</div>
<%- await include('../../layout/footer.ejs') %>
