<%
  const copyrightExtra=article.extra?JSON.parse(article.extra):null;
  const configCopyright=site.plugins['cms-plugincopyright'];
  const copyright=configCopyright.copyrights[(copyrightExtra && copyrightExtra.copyright) || configCopyright.default];

  function _copyrightFieldContent(field){
    let content='';
    switch(field){
      case 'title':
        content=article.atomName;
        break;
      case 'author':
        content=article.userName;
        break;
      case 'createdAt':
        content=util.formatDateTime(article.atomCreatedAt);
        break;
      case 'updatedAt':
        content=util.formatDateTime(article.atomUpdatedAt);
        break;
      case 'link':
        content=`<a href="${url(article.url)}">${url(article.url)}</a>`;
        break;
      case 'markdown':
        content=`<a href="${site.serverUrl}/api/cms/plugincopyright/util/md/${article.atomId}">${site.serverUrl}/api/cms/plugincopyright/util/md/${article.atomId}</a>`;
        break;
      case 'license':
        content=text(util.escapeHtml(configCopyright.license.content || '') || 'CopyrightLicenseContent',`<a href="${util.escapeURL(configCopyright.license.link)}"><span class="glyphicon glyphicon-subtitles"></span> ${util.escapeHtml(configCopyright.license.version)}</a>`);
        break;
    }
    return content;
  }
%>
<% if(copyright && copyright.fields){ %>
<div class="article-copyright">
<ul>
  <% for(const field of copyright.fields.split(',')) { %>
    <li>
      <span class="copyright-title"><%=text(configCopyright.titles[field])%></span>: <span class="copyright-value"><%-_copyrightFieldContent(field)%></span>
    </li>
  <% } %>
</ul>
</div>
<% } %>
