.hljs-center {
  text-align: center;
}

.hljs-right {
  text-align: right;
}

.hljs-left {
  text-align: left;
}

code {
  color: #c7254e;
  background-color: #f0f0f0;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #bce8f1;
  border-radius: 4px;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #faebcc;
  border-radius: 4px;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ebccd1;
  border-radius: 4px;
}

img {
  max-width: 100%;
  border-radius: 2px;
  display: block;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}
