<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-nav">
    <li class="breadcrumb-item"><a href="<%=url('index.html')%>"><%=text('Home')%></a></li>
    <li class="breadcrumb-item parent d-none"></li>
    <li class="breadcrumb-item current active d-none"></li>
  </ol>
</nav>
