    </div> <!-- container -->
    <footer>
        <span class="small">Cabloy-CMS theme by <a href="https://github.com/zhennann/cabloy">zhennann</a></span>
      </footer>
    <%- await include('../plugins/cms-pluginbase/footer.ejs') %>
    <%- await include('../plugins/cms-plugintrack/track.ejs') %>
  </body>
  </html>
