    </div> <!-- container -->
    <footer>
        <span class="small">Powered by <a target="_blank" href="https://cms.cabloy.org">Cabloy-CMS</a> | Theme - <a target="_blank" href="<%=site._theme.url%>"><%=site._theme.name%></a></span>
      </footer>
    <%- await include('../plugins/cms-pluginbase/footer.ejs') %>
    <%- await include('../plugins/cms-plugintrack/track.ejs') %>
  </body>
  </html>
