    </div> <!-- container -->
    <footer>
        <span class="small">Powered by <a target="_blank" href="http://cms.cabloy.org">Cabloy-CMS</a> | Theme - <a target="_blank" href="https://github.com/zhennann/egg-born-module-cms-themeblog">cms-themeblog</a></span>
      </footer>
    <%- await include('../plugins/cms-pluginbase/footer.ejs') %>
    <%- await include('../plugins/cms-plugintrack/track.ejs') %>
  </body>
  </html>
