  </div> <!-- container -->
  <footer>
      <span class="small">Powered by <a target="_blank" href="https://cms.cabloy.com">Cabloy-CMS</a> | Theme - <a target="_blank" href="<%=site._theme.url%>"><%=site._theme.name%></a></span>
  </footer>
  <div class="bsnav-mobile">
    <div class="bsnav-mobile-overlay"></div>
    <div class="navbar"></div>
  </div>
  <script src="<%=url('assets/lib/jquery.min.js')%>"></script>
  <script src="<%=url('assets/lib/bootstrap/bootstrap.min.js')%>"></script>
  <script src="__JS__"></script>
</body>
</html>
