.eb-layout-container-mobile {
  position: relative;
  height: 100%;
  width: 100%;

  .eb-layout-view-container-main {
    z-index: 10000;
  }
}

.device-windows {
  .eb-layout-container-mobile {
     ::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      background-color: #F4F7F8;
    }
     ::-webkit-scrollbar-thumb {
      border-radius: 0;
      background-color: #D3E4E7;
    }
  }
}
