.eb-layout-container-mobile {
  position: relative;
  height: 100%;
  width: 100%;

  .eb-layout-group-tool,
  .eb-layout-group {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }

  .eb-layout-group-tool {
    z-index: 5000;
  }

  .eb-layout-group {
    z-index: 5001;
    display: none;
  }

}

.device-windows {
  .eb-layout-container-mobile {
    ::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      background-color: #F4F7F8;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 0;
      background-color: #D3E4E7;
    }
  }
}
