<div class="panel panel-default panel-article-post">
  <div class="panel-body">
    <button type="button" class="btn btn-default btn-lg button-article-post">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <%=text('Post')%>
    </button>
  </div>
</div>
