<div class="card panel-default panel-article-post">
  <div class="card-body">
    <button type="button" class="btn btn-default btn-lg button-article-post">
      <i class="fas fa-plus"></i> <%=text('Post')%>
    </button>
  </div>
</div>
