<%
  // options
  const _options=typeof options!=='undefined'?options:null;
  // title
  const title=(_options && _options.title) || text('Recent Comments');
  // data
  let atomClassData='';
  if(_options && _options.atomClass){
    atomClassData=` data-module="${_options.atomClass.module}" data-atomclassname="${_options.atomClass.atomClassName}"`;
  }
%>
<div class="card panel-default panel-comments-recent"<%-atomClassData%>>
  <div class="card-header"><%=title%></div>
  <div class="card-body">
    <ul class="media-list list"></ul>
  </div>
</div>
