<% if(article.attachmentCount>0){ %>
<hr>
<ul class="attachments">
  <%
    // data
    const data={
      key: { atomId: article.atomId },
    };
    // fetch
    const res=await ctx.performAction({
      method:'get',
      url: '/a/cms/article/attachments',
      query: { data:JSON.stringify(data) },
    });
    // loop
    for(const item of res.list){
  %>
  <li><span class="glyphicon glyphicon-paperclip"></span> <a target="_blank" href="<%=item.downloadUrl%>"><%=item.realName%></a></li>
  <% } %>
</ul>
<% } %>
