<div class="relatives hidden">
<hr>
<ul>
  <li class="prev hidden"><span><%=text('ArticlePrevious')%></span><a></a></li>
  <li class="next hidden"><span><%=text('ArticleNext')%></span><a></a></li>
</ul>
</div>

