:root {
  .text-editor {
    button.text-editor-button {
      -webkit-user-select: 'none';
      user-select: 'none';

      &:hover {
        color: var(--f7-tabbar-link-active-color, var(--f7-theme-color));
        border: 1px solid var(--f7-tabbar-link-active-color, var(--f7-theme-color));
        border-radius: 4px;
      }

      &.active {
        background: rgba(128, 128, 128, 0.5);
        border-radius: 4px;
      }

      &.text-editor-button-paragraph {
        margin-top: -5px;
      }
    }
  }
}
