:root {
  .text-editor {
    button.text-editor-button {
      &:hover {
        color: var(--f7-tabbar-link-active-color, var(--f7-theme-color));
        border: 1px solid var(--f7-tabbar-link-active-color, var(--f7-theme-color));
        border-radius: 4px;
      }

      &.text-editor-button-paragraph {
        margin-top: -5px;
      }
    }
  }
}
