.markdown-it-cabloy-block .aplayer {
  background: rgba(255, 255, 255, 0.1);
  margin: 0;
}

.markdown-it-cabloy-block .aplayer .aplayer-info .aplayer-music .aplayer-author {
  color: #999;
}

.markdown-it-cabloy-block .aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon path {
  fill: #999;
}
