<%
  let userLinks='';
  const links=site.plugins['cms-pluginuser'].links;
  for(const link of links){
    let _url;
    if(link.url.indexOf('https://')===0 || link.url.indexOf('http://')===0){
      _url=link.url;
    }else if(link.url.indexOf('/')===0){
      _url=`${site.serverUrl}/#!${link.url}`;
    }else{
      _url=`${url(link.url)}`;
    }
    userLinks+=`<li><a href="${_url}">${text(link.title)}</a></li>`;
  }
%>

$(document).ready(function() {
});

$(document).on('echo-ready', function() {
  _renderNavbarUser({ container: '.navbar-user' });
});

function _renderNavbarUser({ container }) {
  const $container = $(container);
  if ($container.length === 0) return;
  const $menu=$('.dropdown-menu',$container);
  const $avatar=$('.avatar-user',$container);
  if (util.user.op.anonymous) {
    const avatar=util.url('plugins/cms-pluginbase/assets/images/avatar_user.png');
    $avatar.attr('src',avatar);
    const html = `
      <li class="user-signin"><a href="${env.site.serverUrl}/#!${location.href}"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> <%=text('Sign In')%></a></li>
    `;
    $menu.append(html);
  } else {
    const avatar=util.user.op.avatar || util.url('plugins/cms-pluginbase/assets/images/avatar_user.png');
    $avatar.attr('src',avatar);
    const html = `
      <li class="user-name">${util.user.op.userName}</li>
      <li role="separator" class="divider"></li>
      <%- userLinks %>
      <%- userLinks?'<li role="separator" class="divider"></li>':'' %>
      <li class="user-logout"><a href="#" onclick="return onClickUserLogout();"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> <%=text('Log Out')%></a></li>
    `;
    $menu.append(html);
  }
}

function onClickUserLogout() {
  util.performAction({
    method: 'post',
    url: '/a/base/auth/logout',
  }).then(() => {
    location.reload();
  });
  return false;
}
