.diagram-actions {
  position: fixed;
  bottom: 6px;
  right: 6px;
  z-index: 200;

  .link {
    color: var(--f7-grid-resize-handler-bg-color);
    margin-left: 4px;
  }
}

.media-node-base-icon {
  height: 24px;
}
