.comment {

  .header-container {
    width: 100%;
  }

  .header-atom {
    a.link {
      text-transform: none;
      text-align: right;
    }
  }

  .header-comment {
    display: flex;
    justify-content: space-between;
  }

  .title {
    .avatar {
      float: left;
    }
    .name {
      margin-left: 40px;
      font-size: 14px;
      font-weight: 600;
    }
    .date {
      margin-top: -4px;
      margin-left: 39px;
      font-size: 13px;
      color: #8e8e93;
    }
  }
  .actions {
    display: flex;
    a.action {
      min-width: 0;
      height: auto;
      color: #8e8e93;

      .icon {
        display: inline;
        font-size: 18px;
      }
    }
  }
}

.item {
  .header {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 8px -8px 18px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);

    .userName {
      display: flex;
      align-items: center;
    }

    .star {
      font-size: 16px;
      width: 16px;
      height: 16px;
    }
  }

  .title {
    .date {
      font-size: 10px;
      color: rgba(0, 0, 0, 0.65);
    }
  }

  .after {
    .date {
      font-size: 10px;
      color: rgba(0, 0, 0, 0.50);
    }
  }
}
