<div class="panel panel-default panel-comments-recent">
  <div class="panel-heading"><%=text('Recent Comments')%></div>
  <div class="panel-body">
    <ul class="media-list list"></ul>
  </div>
</div>
