<% if(article.attachmentCount>0){ %>
<ul class="attachments">
  <%
    // fetch
    const items = await ctx.bean.file.attachments({
      key: { atomId: article.atomId },
      user: null,
    });
    // loop
    for(const item of items){
  %>
  <li><i class="fas fa-paperclip"></i> <a target="_blank" href="<%=item.downloadUrl%>"><%=item.realName%></a></li>
  <% } %>
</ul>
<% } %>
