<% if(article.attachmentCount>0){ %>
<ul class="attachments">
  <%
    // fetch
    const res = await ctx.performAction({
      method: 'post',
      url: '/a/cms/article/attachments',
      body: {
        key: { atomId: article.atomId },
      },
    });
    // loop
    for(const item of res.list){
  %>
  <li><i class="fas fa-paperclip"></i> <a target="_blank" href="<%=item.downloadUrl%>"><%=item.realName%></a></li>
  <% } %>
</ul>
<% } %>
