<div class="brothers d-none">
<hr>
<ul>
  <li class="prev d-none"><span><%=text('ArticlePrevious')%></span><a></a></li>
  <li class="next d-none"><span><%=text('ArticleNext')%></span><a></a></li>
</ul>
</div>

