<div class="brothers d-none">
<ul>
  <li class="prev d-none"><button type="button" class="btn btn-outline-info"><i class="fas fa-eye"></i> <a></a></button></li>
  <li class="next d-none"><button type="button" class="btn btn-outline-info"><i class="fas fa-eye"></i> <a></a></button></li>
</ul>
</div>

