<div class="brothers d-none">
<ul>
  <li>
    <div class="prev d-none">
      <button type="button" class="btn btn-outline-info"><i class="fas fa-chevron-circle-left"></i> <a></a></button>
    </div>
  </li>
  <li>
    <div class="next d-none">
      <button type="button" class="btn btn-outline-info"><i class="fas fa-chevron-circle-right"></i> <a></a></button>
    </div>
  </li>
</ul>
</div>

