<hr>
<div class="stat" data-article-id="<%=article.atomId%>">
  <div class="read-count">
    <i class="fas fa-eye"></i>
    <span class="num readCount"></span>
  </div>
  <button class="btn btn-warning btn-lg button-starCount" type="button">
    <i class="fas fa-heart d-none star-on"></i>
    <i class="far fa-heart star-off"></i>
    <span class="num starCount"></span>
  </button>
</div>
