<hr>
<div class="stat" data-article-id="<%=article.atomId%>">
  <div class="read-count">
    <span class="glyphicon glyphicon-eye-open"></span>
    <span class="num readCount"></span>
  </div>
  <button class="btn btn-warning btn-lg button-starCount" type="button">
    <span class="glyphicon glyphicon-heart hidden star-on"></span>
    <span class="glyphicon glyphicon-heart-empty star-off"></span>
    <span class="num starCount"></span>
  </button>
</div>
