<li class="dropdown navbar-user">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img class="avatar avatar16 avatar-user" src=""></a>
  <ul class="dropdown-menu">
  </ul>
</li>
