:root {

  .detail-list-title-container,
  .detail-item-title-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: var(--f7-toolbar-font-size);


    .actions-block {
      height: var(--f7-toolbar-height);
      display: flex;
      align-items: center;

      a.link {
        padding: 0 6px;
        width: auto;
        min-width: auto;
      }
    }

    .actions-block-left {
      justify-content: flex-start;
    }

    .actions-block-right {
      justify-content: flex-end;

    }
  }

  .detail-list-main-container {
    .list>ul {
      padding: 0;
    }
  }

}
