name: actions-unittest
on:
  push:
    branches:
      - master
jobs:
  unittest:
    strategy:
      fail-fast: false
      matrix:
        node-version: [16, 18]
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis:latest
        ports:
          - 6379:6379
      mysql:
        image: mysql:5.7
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: root
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      # - run: npm install
      - run: cp -r src/front/_config src/front/config
      - run: cp -r src/backend/_config src/backend/config
      # - run: npm run build:front
      # to be done
      # - run: npm run test:backend
      # - run: npm run cov:backend
      # - run: npm i codecov -g && codecov
